<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
</head>
<body>
<h2>Order List</h2>
<table>
    <thead>
    <tr>
        <th>Order Number</th>
        <th>Order Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.date}"></td>
        <td><a th:href="@{/orders/{id}(id=${order.id})}">View Details</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>